<div class="col-md-4 mx-auto">
    <div class="card text-center">
        <div class="card-header">
            <h3>Compañia</h3>
        </div>
        <div class="card-body">
            <form action="/companies/new-company" method="POST">
                <div class="form-group">
                    <textarea name="nombre" placeholder="Nombre" class="form-control"></textarea>                    
                </div>
                <div class="form-group">
                    <textarea name="direccion" placeholder="Dirección" class="form-control"></textarea>                    
                </div>
                <div class="form-group">
                    <textarea name="email" placeholder="Email" class="form-control"></textarea>                    
                </div>
                <div class="form-group">
                    <textarea name="telefono" placeholder="Telefono" class="form-control"></textarea>                    
                </div>
                <div class="form-group">
                    <textarea name="ciudad" placeholder="Ciudad" class="form-control"></textarea>                    
                </div>                                                
                <div class="form-group">
                    <button class="btn btn-primary btn-block">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
