<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Bienvenido
            </div>
            <img src="/img/tiger2.PNG" class="rounded-circle mx-auto d-block m-4 logo">
            <div class="card-body">
                <form action="/users/signin" method="POST">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Usuario">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Contraseña">
                    </div>                                        
                    <button class="btn btn-primary btn-block">
                        Ingresar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>